@layer components {
  .location-modal {
    display: hidden;
    animation: slideDown 1 ease-in;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200px);
  }
}
