@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #47bbe1;
  --text-color: #ffffff;
  --notification-color: #ff7c7c;
}

#root {
  font-family: "Raleway", sans-serif;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
}
